<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suiteOne" verbose="1">
    <test name="testOne" preserve-order="true" ><!--preserve-order="true"表示顺序执行method-->

        <classes>
            <!--执行测试类中所有测试方法-->
            <class name="apply.TestNGTest" />

            <!--指定方法执行，可设置只执行部分测试方法-->
            <class name="apply.TestNGTest">
                <methods>
                    <include name="testOneMethod"/>
                    <exclude name="testOneMethod2"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>